*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
}

body{
    width: 95.25rem;
    height: 54.6rem;
    background: linear-gradient(to right bottom, #FFF7EE, #F5FEF8);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#home-container{
    width: 70%;
    height: 90%;
}

#header-container{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow:  2px 4px 6px 4px #0000001a;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#header-left-image{
    background-color: #FB5800;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

#header-left{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#header-right{
    cursor: pointer;
}

img{
    width: 20px;
    height: 20px;
}

#clock{
    width: 12px;
    height: 12px;
}

#streak-img,#points-img,#certificate-img{
    width: 50px;
    height: 50px;
}
h5 > img{
    width: 22px;
    height: 22px;
}

h1 > img{
    width: 30px;
    height: 30px;
}

h1{
    font-size: 1.7rem;
}

#header-left-title > p{
    font-size: 18px;
}

#user-detail-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 18%;
}

#streak-container{
    background: linear-gradient(to right bottom , #FF6600,#F74D00);
}
#points-container{
    background: linear-gradient(to right bottom , #1546DD,#1C3A95);
}
#Certificates-container{
    background: linear-gradient(to right bottom , #00A03D,#006C31);
}
#streak-container,#points-container,#Certificates-container{
    width: 32%;
    height: 65%;
    border-radius: 20px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    color: #FFFFFF;
}

#streak-container-left,#points-container-left,#Certificates-container-left{
    display: flex;
    flex-direction: column;   
}

h2{
    font-size: 2rem;
}

#view-container{
    display: flex;

}

#left-view{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 67%;
}

#left-view > p{
    font-size: 1.3rem;
}


#left-view > p > img{
    width: 30px;
    height: 30px;
}


#mode-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#self-evaluate-mode,#learn-mode{
    background-color: #EFF6FF;
}

#write-mode,#bot-mode{
    background-color: #F0FDF4;
}

#rectify-mode,#quiz-mode{
    background-color: #FFF7ED;
}
#learn-mode,#write-mode,#rectify-mode,#self-evaluate-mode,#bot-mode,#quiz-mode{
    box-shadow:  0px 4px 6px 4px #0000001a;
    width: 48.5%;
    height: 180px;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    transition: all 100ms ease-in;
}

#learn-mode:hover,#write-mode:hover,#rectify-mode:hover,#self-evaluate-mode:hover,#bot-mode:hover,#quiz-mode:hover{
    scale: 1.04;
    box-shadow:  2px 6px 8px 6px #0000001a;
}

#learn-mode p,#write-mode p,#rectify-mode p,#self-evaluate-mode p,#bot-mode p,#quiz-mode p{
    font-size: 15px;
    letter-spacing: .6px;
}
#learn-icon-box,#self-evaluate-icon-box{
    background: linear-gradient(to right bottom , #1546DD,#1C3A95);
}

#write-icon-box,#bot-icon-box{
    background: linear-gradient(to right bottom , #00A03D,#006C31);
}

#rectify-icon-box,#quiz-icon-box{
    background: linear-gradient(to right bottom , #FF6600,#F74D00);
}

#learn-icon-box,#write-icon-box,#rectify-icon-box,#self-evaluate-icon-box,#bot-icon-box,#quiz-icon-box{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#learn-icon-box img,#write-icon-box img ,#rectify-icon-box img ,#self-evaluate-icon-box img,#bot-icon-box img,#quiz-icon-box img{
    width: 30px;
    height: 30px;
}
#right-view{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 33%;
    margin-left: 30px;
}

#top-player-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    box-shadow:  2px 4px 6px 4px #0000001a;
    padding: 30px;
    border-radius: 20px;
    gap: 1rem;
}

#top-player-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h5{
    font-size: 1.2rem;
}

a{
    all: unset;
    color: #1546DD;
    font-size: .8rem;
    cursor: pointer;
}

#top-one,#top-two,#top-three,#top-four,#top-five{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#top-one-detail,#top-two-detail,#top-three-detail,#top-four-detail,#top-five-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#top-one-name,#top-two-name,#top-three-name,#top-four-name,#top-five-name{
    font-size: 16px;
}

#onenumber{
    color: #F0FDF4;
    background-color: #FDC700;
}

#twonumber{
    color: #F0FDF4;
    background-color: #D1D5DC;
}

#threenumber{
    background-color: #FF8904;
    color: #F0FDF4;
}

#fournumber,#fivenumber{
    background-color: #F3F4F6;
    color: #000;
}

#onenumber,#twonumber,#threenumber,#fournumber,#fivenumber{
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 14px;
}

#top-one-score,#top-two-score,#top-three-score,#top-four-score,#top-five-score{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#top-one-streak img,#top-two-streak img,#top-three-streak img,#top-four-streak img,#top-five-streak img{
    width: 13px;
    height: 13px;
}

#top-one-streak,#top-two-streak,#top-three-streak,#top-four-streak,#top-five-streak{
    color: #F74D00;
    font-size: 13px;
}

#notification-outer-container{
    background-color: #FFFFFF;
    box-shadow:  2px 4px 6px 4px #0000001a;
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: self-start;
    justify-content: center;
}

#notification-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

#notification-one,#notification-two,#notification-three{
    background-color: #FFF7ED;
    border-radius: 10px;
    padding: 10px 20px;
}

#notifiction-message{
    font-size: 14px;
}

#notification-time{
    font-size: 10px;
}


@media (max-width: 768px) {
    
    body {
        width: 100%;
        height: auto;
    }

    #home-container{
        padding-top:20px ;
        width: 90%;
    }

    #view-container{
        flex-direction: column;
        gap: 2rem;
    }

    #right-view{
        margin: 0;
    }
    #left-view{
        width: 100%;
    }

    #learn-mode,#write-mode,#rectify-mode,#self-evaluate-mode,#bot-mode,#quiz-mode{
        width: 46.5%;
    }

    #right-view{
        width: 100%;
    }

    #top-player-container,#notification-outer-container{
        width: 100%;
    }

    #left-view > p{
        font-size: 1rem;
    }
    #user-detail-container{
        height: 4rem;
        flex-wrap: wrap;
    }
    #streak-container,#points-container,#Certificates-container{
        width: 33%;
        padding: 10px ;
        font-size: 12px;
        height: 3rem;
    }

    #streak-container h2,#points-container h2,#Certificates-container h2{
        font-size: 14px;
    }
    #streak-container img,#points-container img,#Certificates-container img{
        width: 20px;
        height: 20px;
    }
    
    #learn-mode p,#write-mode p,#rectify-mode p,#self-evaluate-mode p,#bot-mode p,#quiz-mode p{
        font-size: 10px;
        letter-spacing: .6px;
    }
    #learn-mode,#write-mode,#rectify-mode,#self-evaluate-mode,#bot-mode,#quiz-mode {
        font-size: 12px;
        letter-spacing: .6px;
    }
    
}  


